<!DOCTYPE HTML>
<html>
<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>IT`S FOTOKERAMICA GOMEL</h1>
<div>Hello</div>
<a href="/points"><h3>Point</h3></a>
<a href="/orders"><h3>Order</h3></a>

</body>
</html>