<!DOCTYPE HTML>
<html>
<head>
    <title>Main</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>IT`S FOTOKERAMICA GOMEL</h1>
<div>
    {{#statistic}}
        <div>
            <b>Count point: {{countPoint}}</b>
            <i>Count order: {{countOrder}}</i>
            <span>Money: {{money}}</span>
        </div>
    {{/statistic}}
</div>
<a href="/points"><h3>Point</h3></a>
<a href="/orders"><h3>Order</h3></a>

</body>
</html>